html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input {
  appearance: none;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  overflow: auto;
  grid-template: 0.5fr 4fr/15vw 4fr 1fr;
  overflow: auto;
  position: relative;
}

#sidebarDiv {
  grid-row: 1/3;
  height: 100vh;
  display: grid;
  grid-template-rows: 5vh 1fr 3fr 3fr;
  background-color: rgb(170, 172, 74);
  position: sticky;
  top: 0%;
}

#sidebarDiv * {
  display: "";
}

#sidebarDiv > div > ul > li > a {
  color: black;
}

#minimiseBtn {
  width: clamp(1.5rem, 2.5vw, 5rem);
  justify-self: end;
  margin-right: 10px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
}

.minimisedBtn {
  width: clamp(1.5rem, 2.5vw, 5rem);
  background-color: rgba(255, 255, 255, 0);
  justify-self: center;
  border: none;
}

#titleDiv {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

#activitiesDiv {
  display: grid;
  align-items: center;
  justify-items: center;
}

#activitiesList {
  font-size: clamp(0.8rem, 2.5vw, 1.5rem);
  display: grid;
  grid-template-rows: repeat(6, 5vh);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#settingsDiv {
  display: grid;
  justify-items: center;
  align-items: start;
}

#settingsList {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  display: grid;
  grid-template-rows: repeat(3, 5vh);
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  height: clamp(6rem, 10vw, 10rem);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2/4;
  box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.16);
  background-color: rgb(15, 141, 224);
}

#topHeader {
  display: grid;
  grid-template-columns: 6fr 4fr 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#srchInputDiv {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-self: start;
  gap: 5px;
  align-items: center;
}

#srchInputDiv > img {
  width: clamp(0.5rem, 2.5vw, 1.2rem);
  justify-self: end;
}

#srchInput {
  width: 100%;
  height: 60%;
  border-radius: 9px;
  border: none;
  background-color: rgb(214, 203, 136);
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}

#notifIcon {
  width: clamp(0.5rem, 2.5vw, 1.5rem);
  justify-self: end;
}

#profPic {
  width: clamp(1.5rem, 2.5vw, 6rem);
}

#profName {
  font-size: clamp(0.9rem, 2.5vw, 2rem);
  justify-self: start;
}

#botHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.6fr 0.05fr 5fr 1fr 1fr 1fr;
  grid-template-areas:
    "profPic . greeting newBtn uploadBtn shareBtn"
    "profPic . profName newBtn uploadBtn shareBtn";
  align-items: center;
  justify-items: center;
}

#botHeader > img {
  width: clamp(1rem, 4.5vw, 8rem);
  height: auto;
  margin-bottom: 6px;
  grid-area: profPic;
  justify-self: end;
}

#botHeader :nth-child(2) {
  grid-area: greeting;
  justify-self: start;
  font-size: clamp(0.7rem, 2.5vw, 1.6rem);
  align-self: end;
}

#botHeader :nth-child(3) {
  grid-area: profName;
  justify-self: start;
  align-self: start;
  font-size: clamp(0.9rem, 2.5vw, 2rem);
}

#botHeader > button {
  width: clamp(2.5rem, 8.5vw, 6rem);
  height: clamp(1rem, 8.5vw, 2rem);
  border-radius: 5px;
  font-size: clamp(0.6em, 2.5vw, 1em);
}

#botHeader :nth-child(4) {
  grid-area: newBtn;
}

#botHeader :nth-child(5) {
  grid-area: uploadBtn;
}

#botHeader :nth-child(6) {
  grid-area: shareBtn;
}

#mainContentDiv {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 10vh repeat(2, 40vh);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 40vh;
  align-items: center;
  justify-items: center;
}

#mainContentDiv > p {
  grid-column: 1/3;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: clamp(0.7rem, 2.5vw, 2rem);
}

#mainContentDiv > div {
  width: 75%;
  height: 75%;
  border: solid black;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  justify-items: center;
}

#mainContentDiv > div > h3 {
  width: 99%;
  height: 70%;
}

#mainContentDiv > div > div {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 5px;
}

#mainContentDiv > div > div > button {
  width: clamp(1rem, 8.5vw, 2rem);
  border: none;
  background-color: rgba(127, 255, 212, 0);
  align-self: flex-end;
}

#mainContentDiv > div > div > button > img {
  width: 100%;
}

#rightContent {
  display: grid;
  height: 100vh;
  grid-row: 2/3;
  grid-column: 3/4;
  grid-template-rows: 1fr 4fr 1fr 4fr;
  top: 0%;
  position: sticky;
  align-items: center;
  justify-items: center;
}

#rightContent > div {
  width: 90%;
  height: 90%;
  border: solid black;
}

#rightContent > p {
}
